<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- CONFIGURAÇÕES DE LOG -->
		<add key="logFileName" value="log.txt" />
		<add key="logFilePath" value="logs" />
		<add key="logSuccessEnabled" value="true" />
		<add key="logErrorEnabled" value="true" />
		<add key="logInfoEnabled" value="true" />

	</appSettings>
</configuration>